<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Trabajo Practico 3</title>
		<link rel="stylesheet" href="/css/styles.css"></link>
	</head>
	<body>
		<header>
			<h1>Programacion Visual</h1>
			<nav>
				<ol>
					<li><a href="#Inicio">Inicio</a></li>
					<li><a href="#Caracteristicas">Caracteristicas</a></li>
					<li><a href="#DiferenciasC++yJava">Diferencias C++ y Java</a></li>
					<li><a href="#Recursos">Recursos</a></li>
					<li><a href="/formulario">Formulario</a></li>
				</ol>
			</nav>
		</header>
	<div class="container">
	<main class="main">
		<section id="Inicio">
			<h2>El lenguaje Java</h2>
			<p>
			El lenguaje de programación Java fue desarrollado originalmente por James Gosling, de Sun Microsystems 
			​y publicado en 1995 como un componente fundamental de la plataforma Java de Sun Microsystems. 
			Las aplicaciones de Java son compiladas a bytecode, que puede ejecutarse en cualquier maquina virtual Java 
			sin importar la arquitectura de la computadora subyacente
			</p>
		</section>
		<section id="Caracteristicas">
			<h2>Características de Java</h2>
			<ul>
				<li>Sencillo</li>
				<li>Orientado a Objetos</li>
				<li>Distribuido</li>
				<li>Interpretado</li>
				<li>Robusto</li>
				<li>Seguro</li>
				<li>Independiente de Arquitecturas</li>
				<li>Portable</li>
				<li>Eficaz</li>
				<li>Multitarea</li>
				<li>Dinamico</li>
			</ul>
		</section>
		<section id="DiferenciasC++yJava">
			<h2>Diferencias entre C++ y Java</h2>
			<table>
			<tr>
				<th>Categorias</th>
				<th>C++</th>
				<th>Java</th>
			</tr>
			<tr>
				<td><h3>Sintaxis</h3></td>
				<td>Practicamente identicos</td>
				<td>Practicamente identicos</td>
			</tr>
			<tr>
				<td><h3>Orientacion a Objetos</h3></td>
				<td>Se pueden escribir programas orientados a objetos, no orientados a objetos, o mezcla de ambos</td>
				<td>Es puramente orientado a objetos. Cualquier funcion debe pertenecer a alguna clase</td>
			</tr>
			<tr>
				<td><h3>Codigo de Maquina</h3></td>
				<td>Genera codigo de maquina para una plataforma concreta</td>
				<td>Genera codigo de maquina bytecode para el procesador JVM</td>
			</tr>
			<tr>
				<td><h3>Punteros</h3></td>
				<td>Existen punteros con una aritmetica bien definida</td>
				<td>No existe el concepto de puntero ya que los objetos son accedidos mediante referencias</td>
			</tr>
			</table>
		</section>
	</main>
	<aside id="Recursos" class="recursos">
		<p>Recursos Adicionales</p>
		<a href="https://www.java.com/es/" target="_blank"> <img alt="Error Cargando Imagen" src="/images/Java.bmp"></a><br>
		<a href="https://www.bloodshed.net" target="_blank"> <img alt="Error Cargando Imagen" src="/images/C++.bmp"></a><br>
		<a href="https://virtual.unju.edu.ar" target="_blank"> <img alt="Error Cargando Imagen" src="/images/UnjuVirtual.bmp"></a>
	</aside>
	</div>
	<footer>
	<p>Informacion de Contacto Y Redes Sociales (UNJu)</p>
	<p>Correo Oficial: virtual@unju.edu.ar</p>
	<p>Facebook: <a href="https://www.facebook.com/unjuvirtual/" target="_blank">Unju Virtual</a></p>
	<p>LinkedIN: <a href="https://ar.linkedin.com/company/unjuvirtual" target="_blank">Unju Virtual</a></p>
	<p>Pagina Escuela de Minas: <a href="https://escmi.unju.edu.ar" target="_blank">EDM</a></p>
	<p><a href="/images/Dog.png" target="_blank">Easter Egg</a></p>
	</footer>
	</body>
</html>