<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Trabajo Practico 3</title>
	</head>
	<body>
		<header>
			<h1>Something Something Test HTML</h1>
			<nav>
				<ul>
					<li><a href="">Inicio</a></li>
					<li><a href="">Nothing</a></li>
					<li><a href="">Nothing V.2</a></li>
				</ul>
			</nav>
		</header>
	<main>
		<section>
			<h2>Test text</h2>
			<p>Test text</p>
		</section>
		<section>
			<h3>Test text</h3>
			<p>Test text</p>
			<ul>
				<li>Test text</li>
				<li>Test text</li>
				<li>Test text</li>
			</ul>
		</section>
		<section>
			<h3>Test text</h3>
			<p>Test text</p>
			<p>Tabla de Prueba</p>
			<table>
			<tr>
				<th>Test text</th><th>Test text</th>
			</tr>
			<tr>
				<td>Test text</td><td>Test text</td>
			</tr>
			</table>
		</section>
		<aside>
			<p>Imagen de Perro de Prueba. Tiene link la imagen pero esta vacio asique solo abrira la misma pagina</p>
			<a href="" target="_blank"> <img alt="Error Cargando Imagen" src="/images/huh.png"></a>
		</aside>
	</main>
	<footer>
	Pie de Pagina
	</footer>
	</body>
</html>